* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}


.cabecalho {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    margin: 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a, nav a:hover {
    background-color: #39aae1;
    color: #ffffff;
}

.banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.banner .container {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color:#ffffff ;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555 ;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color:#ffffff ;
    font-size: 22px;
    text-shadow: 0px 1px 0px #555 ;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color:#0079c7 ;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    margin: 20px 0;
}

.banner_options a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    margin: 22px 0 0 0;
}

.banner_timer{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom:1px solid #c3c3c383;
    padding-bottom:10px;
}

.geral {
    display: flex;
    justify-content: center;
}

.main_container {
    flex: 2;
}

.right_container {
    flex: 1;
}

.widget_title {
    margin: 30px 0 20px 0;
}

.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.departaments {
    background-color: #36a9e1;
    width: 150px;
    height: 150px;
    margin: 0 10px 20px 0;
}

.widget_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.widget_list li {
    list-style: none;
    border-bottom:4px solid #c3c3c383;
    padding-bottom:14px;
    width: 100%;
    padding-top: 14px;
}
.widget_list li:first-child {
    border-top:4px solid #c3c3c383;
    padding-top:14px;
    margin-top: 10px;
}
.widget_list span {
    margin: 10px;
}
.widget_body svg {
    width: 24px;
    height: 24px;
    margin: -6px 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 30px;
}
article a {
    text-decoration: none;
}

.news_data {
    display:flex;
}

.news_posted_at {
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right:2px;
}

.news_comments {
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}
.news_thumbnail{
    margin-top: 30px;
}
.news_thumbnail img {
    width: 100%;
    height: auto;
}

.news_title h2{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}

.news_resume p{
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}
.fm_1,
.fm_2,
.fm_3 {
    flex:1;
    color: #ffffff;
}
.footer_menu
.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color:#0079c7 ;
}

.fm_3 {
    background-color: #2b4c99;
}

.footer_menu p {
    font-size: 20px;
}
.fm_1, .fm_2, .fm_3 span {
    display: block;
    font-size: 14px;
}

.footer_menu svg{
    height: 14px;
    margin: -3px;
}

.footer_menu a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
}

.footer_area {
    display: flex;
}
.footer_area_item {
    flex: 1;
    color: #ffffff;
}
.footer_widget_medicenter_content{
    color: #727272;
}

.footer_widget_medicenter_adress {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
}
.footer_widget_medicenter_adress :first-child{
    padding: 0 50px 8px 0;
}
.footer_widget_medicenter_adress :nth-child(2n) {
    padding: 0 30px 8px 0;
}
.footer_widget_medicenter_adress :nth-child(6){
    padding: 0 5px 8px 0;
}
.footer_widget_medicenter_adress .email {
    color: #ffffff;
}

.footer_widget_medicenter_social_media{
    display: flex;
}

.footer_widget_medicenter_social_media ul{
   padding: 0;
}

.footer_widget_medicenter_social_media .social_midia_footer {
    /* color: #727272; */
    background-color: #555;
    margin-right: 4px;
    padding: 4px;
}
.footer_area_item .widget_body {
    margin-top: 30px;
}
.footer_area_item .widget_body a {
    text-decoration: none;
    color: #ffffff;
}
.footer_area_item .widget_body svg {
    height: 1.2rem;
}
.footer_widget_content {
    margin: -12px 0 0 30px;
}

.footer_area_days {
    margin: 14px 0 0 30px;
    color: #0079c7;
}
footer .container {
    flex-direction: column;
}

footer .widget_title_text {
    color:#ffffff;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}