* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    margin: 4px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a, nav a:hover {
    background-color: #39aae1;
    color: #ffffff;
}

.banner {
    display: flex;
    justify-content: center;
    background-image: url("../images/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.banner .container {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #ffffff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: #ffffff;
    font-size: 22px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    margin: 20px 0;
}

.banner_options a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    margin: 22px 0 0 0;
}

.banner_timer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 1px solid #c3c3c383;
    padding-bottom: 10px;
}

.geral {
    display: flex;
    justify-content: center;
}

.main_container {
    flex: 2;
}

.right_container {
    flex: 1;
}

.widget_title {
    margin: 30px 0 20px 0;
}

.widget_title_text {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.departaments {
    background-color: #36a9e1;
    width: 150px;
    height: 150px;
    margin: 0 10px 20px 0;
}

.widget_list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.widget_list li {
    list-style: none;
    border-bottom: 4px solid #c3c3c383;
    padding-bottom: 14px;
    width: 100%;
    padding-top: 14px;
}

.widget_list li:first-child {
    border-top: 4px solid #c3c3c383;
    padding-top: 14px;
    margin-top: 10px;
}

.widget_list span {
    margin: 10px;
}

.widget_body svg {
    width: 24px;
    height: 24px;
    margin: -6px 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 30px;
}

article a {
    text-decoration: none;
}

.news_data {
    display: flex;
}

.news_posted_at {
    background-color: #2b4c99;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

.news_comments {
    background-color: #39aae1;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}

.news_thumbnail {
    margin-top: 30px;
}

.news_thumbnail img {
    width: 100%;
    height: auto;
}

.news_title h2 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}

.news_resume p {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu {
    display: flex;
}

.fm_1, .fm_2, .fm_3 {
    flex: 1;
    color: #ffffff;
}

.footer_colums {
    flex: 1;
}

.fm_1 {
    background-color: #39aae1;
}

.fm_2 {
    background-color: #0079c7;
}

.fm_3 {
    background-color: #2b4c99;
}

.fm_1, .fm_2, .fm_3 {
    padding: 20px;
}

.footer_menu p {
    font-size: 16px;
}

.fm_1, .fm_2, .fm_3 span {
    display: block;
    font-size: 14px;
}

.footer_menu svg {
    height: 14px;
    margin: -3px;
}

.footer_menu a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.footer_area {
    display: flex;
}

.footer_area_item {
    flex: 1;
    color: #ffffff;
}

.footer_widget_medicenter_content {
    color: #727272;
}

.footer_wdiget_medicenter_adress {
    display: flex;
    align-items: flex-end;
    margin: 20px 0;
}

.footer_wdiget_medicenter_adress .footer_wdiget_medicenter_adress_details {
    flex: 2;
}

.footer_wdiget_medicenter_adress_contacts {
    padding-left: 45px;
}

.footer_widget_medicenter_social_media ul {
    display: flex;
}

.footer_widget_medicenter_social_media ul {
    padding: 0;
}

.footer_widget_medicenter_social_media .social_midia_footer {
    background-color: #555;
    margin-right: 4px;
    padding: 4px;
}

.footer_wdiget_medicenter_adress .email {
    color: #ffffff;
    font-size: 14px;
}

.footer_area_item .widget_body {
    margin-top: 30px;
}

.footer_area_item .widget_body a {
    text-decoration: none;
    color: #ffffff;
}

.footer_area_item .widget_body svg {
    height: 1.2rem;
}

.footer_widget_content {
    margin: -16px 0 0 30px;
}

.footer_area_days {
    margin: 14px 0 0 30px;
    color: #0079c7;
}

footer .container {
    flex-direction: column;
}

footer .widget_title_text {
    color: #ffffff;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

@media (max-width: 1023px) and (min-width: 600px) {
    .container {
        margin: 0 20px;
    }
    nav a {
        padding: 7px;
    }
    .banner {
        height: auto;
    }
    .banner_headline h1 {
        font-size: 50px;
        margin: 10px 0 10px 0;
    }
    .banner_headline h2 {
        margin: 0 0 20px 0;
    }
    .banner_options a {
        margin: 0;
    }
    .banner_timer span {
        margin-bottom: 10px;
    }
    .banner_timer {
        flex-direction: column;
        padding: 0;
    }
    .right_container .widget_body {
        justify-content: space-evenly;
    }
    .widget_body_content {
        justify-content: space-around;
    }
    .banner_options {
        height: auto;
    }
    .footer_wdiget_medicenter_adress {
        align-items: flex-start;
        flex-direction: column;
    }
    .footer_wdiget_medicenter_adress_contacts {
        padding: 0;
    }
    .footer_area_item .widget_body {
        flex-direction: column;
    }
    .footer_widget_medicenter_adress span {
        padding: 0 61px 8px 0;
    }
    .footer_widget_medicenter_social_media ul {
        margin: 0;
    }
    .footer_copy {
        text-align: center;
    }
}

@media (max-width: 599px) and (min-width: 425px) {
    .container {
        margin: 0 20px;
    }
    .cabecalho .container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    nav a {
        padding: 7px;
    }
    .banner {
        height: auto;
    }
    .banner_headline h1 {
        color: #5c5c5c;
        font-size: 50px;
        margin-top: 30px;
    }
    .banner_headline h2 {
        color: #5c5c5c;
        text-shadow: none;
        margin: 20px 0;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .geral .container {
        flex-direction: column;
    }
    .right_container .widget_body {
        justify-content: space-evenly;
    }
    .footer_menu {
        display: flex;
        flex-direction: column;
    }
    .widget_list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 0 20px 0;
    }
    .widget_list span {
        margin: 0 0 0 10px;
    }
    .footer_wdiget_medicenter_adress {
        align-items: flex-start;
        flex-direction: column;
        margin: 20px 0 0 0;
    }
    .footer_wdiget_medicenter_adress_contacts {
        padding: 0;
    }
    .footer_area_item .widget_body {
        flex-direction: column;
    }
    .fm_1, .fm_2, .fm_3 {
        margin: 20px 0;
    }
    .footer_copy {
        text-align: center;
    }
}

@media (max-width: 424px) and (min-width: 320px) {
    .container {
        margin: 0 20px;
    }
    .cabecalho .container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    nav a {
        padding: 4px;
    }
    .banner {
        height: auto;
    }
    .banner_headline h1 {
        color: #5c5c5c;
        font-size: 50px;
        margin-top: 30px;
    }
    .banner_headline h2 {
        color: #5c5c5c;
        text-shadow: none;
        margin: 20px 0;
    }
    .banner_options {
        flex-direction: column;
        height: auto;
    }
    .banner_desc {
        margin: 20px 0 0 0;
    }
    article {
        margin: 0;
    }
    .geral .container {
        flex-direction: column;
    }
    .footer_menu {
        display: flex;
        flex-direction: column;
    }
    .right_container .widget_body {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .departaments {
        margin: 0 10px 20px 0;
        width: 140px;
        height: 140px;
    }
    .widget_list {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 0 20px 0;
    }
    .widget_list span {
        margin: 0 0 0 10px;
    }
    .footer_wdiget_medicenter_adress {
        align-items: flex-start;
        flex-direction: column;
        margin: 20px 0 0 0;
    }
    .footer_wdiget_medicenter_adress_contacts {
        padding: 0;
    }
    .footer_area_item .widget_body {
        flex-direction: column;
    }
    .fm_1, .fm_2, .fm_3 {
        margin: 20px 0;
    }
    .footer_copy {
        text-align: center;
    }
}